.rePictuR-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
    text-align: center;
    cursor: default;
    color: buttontext;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
//    box-sizing: border-box;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    font: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.rePictuR-modal {
	position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.rePictuR-modal:target {
    opacity:1;
    pointer-events: auto;
}

.rePictuR-modal-body{
	width: 500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.rePictuR-modal-content {
	max-height: 500px;
	overflow: auto;
}

.rePictuR-table {
	width: 100%;
}

.rePictuR-header, 
.rePictuR-header tr,
.rePictuR-header tr td {
    text-align: center;
}

.rePictuR-table td {
    border-spacing: 10px;
    border-collapse: separate;
}

.rePictuR-td-ellipsis {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rePictuR-modal-close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.rePictuR-modal-close:hover {
    background: #00d9ff;
}

.rePictuR-tooltip {
    position: relative;
}

.rePictuR-tooltip:hover:after{
//    background: #56D6EF;
    background: rgba(102,217,231,.8);
    border-radius: 5px;
    top: 20px;
     color: #fff;
    content: attr(title);
    left: 20px;
    padding: 5px 15px;
    position: absolute;
    z-index: 99999;
}

.rePictuR-tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}